#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    font-size: larger;
    width: 70vw;
}

.projectsTitle {
    font-size: 3rem;
}

.projectsContainer {
   display: flex;
   flex-direction: column;
    margin: 5rem 0 ;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.projectGeneral {
    display: flex;
    flex-direction: row;
}

article.thumb {
    display: flex;
    flex-direction: row;
}



.projectThumbTitle {
    font-size: 1.3rem;
    margin: 1rem 0;
}

img.projectImg {
    width: 70vh;
}

.projectMisc {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1.5rem
    
}

.projectTags {
    display: flex;
    flex-direction: row;
}
  


.projectLinks {
    display: flex;
    gap:50px;
}

.projectLinksBtn {
    background-color: white;
    font-size: medium;
    font-weight: 700;
    border: none;
    width: 6rem;
    max-width: 6rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}


