* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

html {
    width: 100vw;
    padding: 0 5rem;
    overflow-x: hidden;
}

body {
    background: rgb(30, 30, 30);
    color: white;
    a {
        color: white;
        cursor: pointer;
    }
}
