#skills {
    height: 100vh;
}


.skillsTitle {
    text-align: center;
    font-family: "Permanent Marker";
    height: 10vh;
    font-size: 3rem;
    font-weight: bold;
}

.skillsContainer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.technicalStackTitle {
    text-align: center;
    font-family: "Permanent Marker";
    height: 5vh;
}

.technicalStack {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.skillSet {
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50vw;
}

.CV {
    display: flex;
    font-family: "Permanent Marker";
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cvtitle {
    text-align: center;
    height: 5vh;
}

img.cvPreview {
    width: 53%
    
}


.cvDownloadBtn {
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}

.cvDownloadBtn:hover {
    background-color: blue;
    color: white;
    
}

@media screen and (max-width:1500px) {

    img.cvPreview {
        width: 68%  
    }
}

@media screen and (max-width:1300px) {

    img.cvPreview {
        width: 65%  
    }
}

@media screen and (max-width:1200px) {

    .skillsContainer {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }

    .CV {  
        width: 70vw;
    }
}

@media screen and (max-width:1500px) {

    .CV {  
        width: 90vw;
    }
}



