#skills {
    height: 100vh;
}


.skillsTitle {
    text-align: center;
    font-family: "Permanent Marker";
    height: 15vh;
    font-size: 3rem;
    font-weight: bold;
}

.skillsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.technicalStackTitle {
    text-align: center;
    font-family: "Permanent Marker";
    height: 5vh;
}

.technicalStack {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.skillSet {
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50vw;
}

.CV {
    display: flex;
    font-family: "Permanent Marker";
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cvtitle {
    text-align: center;
    height: 5vh;
}


.cvDownloadBtn {
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width:1200px) {

    .skillsContainer {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
    

}