#about {
    height: 100vh;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.aboutTitle {
    font-family: "Permanent Marker";
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

.aboutPara {
    padding: 0 5vw;
    margin-top: 2rem;;
    font-size: large;
    width: 60rem;
}

@media screen and (max-width:560px) {

    .aboutPara {
        font-size: small;
    }


}

@media screen and (max-width:300px) {

    #about {
        height: 120vh;
    }

    .aboutPara {
        font-size: smaller;
    }


}