#home {
    overflow: hidden;
}

.homeContent {
    height: 30vh;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    /* Si je veux mettre une image a droite on supprime le text align */
}

.introHello {
    font-size: 1.75rem;
    font-weight: 100;

}

.introName {
    color: yellow;
}

.avatar {
    height: 20vh;
    display: flex;
    justify-content: center;
}

.portrait {
    border-radius: 5rem;
}

/* .btnHire {
    background-color: white;
    border: none;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    cursor: pointer;
} */

/* .btnHire svg {
    scale: 150%;
    margin-right: 0.5rem;
} */