#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    background: rgba(30, 30, 30, .8) url(../../assets/bg-img.png);
    background-blend-mode: darken;
}

.homeContainer {
    display: flex;
    flex-direction: row;
}

.homeContent {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Permanent Marker";
    /* Si je veux mettre une image a droite on supprime le text align */
}

.introHello {
    font-size: 1.75rem;
    font-weight: 100;
    
}

.introName {
    color: yellow;
}

.avatar {
    height: 20vh;
    display: flex;
    justify-content: center;
}

.portrait {
    border-radius: 5rem;
}

@media screen and (max-width:430px) {

    .homeContent {
        font-size: 2rem;
    }

}